
<div id="nav-menu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <i class="fas fa-home menu__icon"></i> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="overview">
                <i class="fas fa-list menu__icon"></i> Overview
            </NavLink>
        </li>
    </ul>
</div>
